body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Sets hr line break styling */
hr {
    height: 2px;
    background-color: #555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

/* Heading styling */
.heading {
    background-color: darkred;
    border-color: black;
    border-corner-shape: scoop;
    border-radius: 30px;
    color: white;
    padding: 15px;
    padding-left: 25px;
}

.navbar-default {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b0000+0,b53232+50,8b0000+100 */
    background: #8b0000; /* Old browsers */
    background: -moz-linear-gradient(top, #8b0000 0%, #b53232 50%, #8b0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b0000), color-stop(50%,#b53232), color-stop(100%,#8b0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8b0000 0%,#b53232 50%,#8b0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8b0000 0%,#b53232 50%,#8b0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8b0000 0%,#b53232 50%,#8b0000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8b0000 0%,#b53232 50%,#8b0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b0000', endColorstr='#8b0000',GradientType=0 ); /* IE6-9 */
    border-color: goldenrod;
    border-bottom-width: 3px;
}

/*Policies, Admin font*/
    .navbar-default .navbar-nav > li > a {
        color: white;
        border-radius: 5px;
        font-family: Helvetica, serif;
        font-size: 18px;
        text-shadow: 2px 2px black;
    }

    span.caret {
        color: white;
    }

    /*Link buttons aka the Apply button*/
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+50,000000+100 */
        background: #000000; /* Old browsers */
        background: -moz-linear-gradient(top, #000000 0%, #45484d 50%, #000000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #000000 0%,#45484d 50%,#000000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: Helvetica, serif;
        font-size: 18px;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 4px;
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
        color: white;
    }

.navbar-collapse-1 > li.dropdown > a {
    border-color: black;
    border-width: 2px;
}

/*SG Corp Brand*/
.navbar-default .navbar-brand {
    color: white;
    font-style: italic;
    text-shadow: 2px 2px black;
    height: 40%;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding: 0px 5px 0px 5px;
    margin-left: 4px;
    margin-right: 8px;
}

.navbar-header {
    border-radius: 20px;
}

.navbar-collapse {
    border-radius: 20px;
}

ul.navbar.navbar-nav {
    border-width: 2px;
    border-color: black;
}

.admin {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+50,000000+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #45484d 50%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%,#45484d 50%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    font-family: Helvetica, serif;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
}

/*Generated*/
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #dbdcff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #dbdcff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #8e2121;
}

    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
            color: #dbdcff;
            background-color: #000000;
        }

    .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
        background-color: #8e2121;
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #000000;
}

/*Dropdown box coloring on click*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+50,000000+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #45484d 50%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%,#45484d 50%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Helvetica, serif;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
    color: #dbdcff;
}

.nav > li > a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+50,000000+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #45484d 50%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,#45484d 50%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%,#45484d 50%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Helvetica, serif;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
    color: #dbdcff;
}

.navbar-default .navbar-toggle {
    border-color: #000000;
}

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #000000;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

    .navbar-default .navbar-link:hover {
        color: #dbdcff;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #dbdcff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #dbdcff;
        background-color: #000000;
    }
}
