@model HRPortal.Models.ApplicationInformation

@{
    ViewBag.Title = "AppReceived";
}

<h2>AppReceived</h2>

<div>
    <hr />
    <p>Your application has been received. Our company will be in contact with you shortly.</p>
    <p>Thank you for your interest!</p>
</div>
<p>
    @Html.ActionLink("Return to Index", "Index")
</p>
